language: csharp
solution: HybreDb.sln
install:
  - nuget restore HybreDb.sln
  - nuget install NUnit.Runners -Version 2.6.4 -OutputDirectory testrunner
script:
  - xbuild /p:Configuration=Release HybreDb.sln
  - mono ./testrunner/NUnit.Runners.2.6.4/tools/nunit-console.exe ./HybreDbTest/bin/Release/HybreDbTest.dll
mono:
  - latest
  - 3.12.0
  - 3.10.0
notifications:
  email: false
branches:
  only:
    - master
    - UniqueIndex
