<form id="executeForm">
    <div class="form-group">
        <label for="action">Action</label>
        <input type="text" class="form-control" id="action" />
    </div>
    <div class="form-group">
        <div id="editor" style="height: 300px;">{}</div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
        <span id="error">(error)</span>
    </div>
</form>
<script type="text/javascript">

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/json");
    editor.$blockScrolling = Infinity;

    $("#executeForm").submit(function (e) {
        $("#error").text("");
        e.preventDefault();

        var txt = editor.getValue();
        var o;

        try {
            o = JSON.parse(txt);
        } catch (e) {
            $("#error").text("Invalid JSON");
            return;
        }


        $.ajax({
            url: "/execute/" + $("#action").val(),
            type: "POST",
            data: JSON.stringify(o),
            success: function (d) {
                console.log(d);
            },
            error: function(res) {
                console.error(res.responseText);
            }
        });
    });

    
</script>