<table class="table table-striped">
    <thead>
        <tr><th>RelationName</th></tr>
    </thead>
    <tbody>
        {{ for(var k in it.tableStruct.relations) { }}
        <tr><td><a href="/view/relation/{{=it.tableStruct.tableName}}/{{=k}}">{{=k}}</a></td></tr>
        {{ } }}
    </tbody>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            {{ for(var k in it.tableData.columns) { }}
            <th>{{=k}}</th>
            {{ } }}
        </tr>
    </thead>
    <tbody>
        {{ for(var k in it.tableData.rows) { }}
        <tr>
            <td>{{=k}}</td>
            {{ for(var col in it.tableData.columns) { }}
            <td>{{=it.tableData.rows[k][col]}}</td>
            {{ } }}
        </tr>
        {{ } }}
    </tbody>
</table>