<table class="table table-striped">
    <thead>
        <tr><th>RelationName</th></tr>
    </thead>
    <tbody>
        {{ for(var k in it.relations) { }}
        <tr><td><a href="/view/relation/{{=it.tableName}}/{{=k}}">{{=k}}</a></td></tr>
        {{ } }}
    </tbody>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            {{ for(var k in it.columns) { }}
            <th>{{=k}}</th>
            {{ } }}
        </tr>
    </thead>
    <tbody>
        {{ for(var k in it.rows) { }}
        <tr>
            <td>{{=k}}</td>
            {{~it.rows[k] : d}}
            <td>{{=d}}</td>
            {{~}}
        </tr>
        {{ } }}
    </tbody>
</table>